:root{
  --black: #151515; 
  --dark-grey: #403D39;
  --light-grey: #CCC5B9; 
  --off-white: #FFFCF2;
  --red: #aa2324;
  --yellow: #fff1b9;
}

.animate__animated.animate__fadeIn {
  animation-duration: 4s;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

body {
    background-color: var(--black);
    margin: 0;
    color: var(--light-grey);
    font-family: "Outfit", sans-serif;
}

header {
    background-color: var(--red);
    padding: 25px 10px;
}

.nav_container {
    align-items: center;
}

.menu_logo {
    margin: -10px;
    width: 150px;
    height: auto;
}

.menu_link, .menu_link_select {
    transition: 0.3s;
    color: var(--off-white);
    text-decoration: none;
    margin-left: 15px;
    font-size: 1.25rem;
}

.menu_link_select {
    color: var(--yellow);
}

.menu_link:hover,
.menu_logo:hover {
    color: var(--yellow);
}

.main__heading {
    text-align: center;
    padding-top: 30px;
    margin-bottom: 0;
    color: var(--off-white);
}

div {
    padding-bottom: 20px;
} 

section {
    padding: 20px 20px 0px 0px;
    text-align: center;
}

h2 {
    padding-bottom: 20px;
}

.credits {
    display: grid;
    grid-template-areas: 
    "m1"
    "m2"
    "m3"
    "m4"
    "m5"
    "m6"
    "m7"
    "m8";
}

.jurassic-park {
    grid-area: m1;
}

.lost-world {
    grid-area: m2;
    background-color: var(--light-grey);
    color: var(--black);
}

.jp-three {
    grid-area: m3;
}

.jurassic-world {
    grid-area: m4;
    background-color: var(--light-grey);
    color: var(--black);
}

.fallen-kingdom {
    grid-area: m5;
}

.big-rock {
    grid-area: m6;
    background-color: var(--light-grey);
    color: var(--black);
}

.dominion {
    grid-area: m7;
}

.rebirth {
    grid-area: m8;
    background-color: var(--light-grey);
    color: var(--black);
}

.credits__img {
    width: 75%;
    height: 100%;
    border-radius: 30px;
}

.name {
    font-size: larger;
}

.role {
    font-size: small;
    font-style: italic;
}

.footer {
    margin-top: auto;
    color: var(--off-white);
    background-color: var(--red);
    text-align: center;
    text-transform: uppercase;
    padding: 24px 0;
}

@media (min-width: 768px) {
    header {
        flex-direction: column;
    }
    .nav_container {
        padding: 0 40px;
        flex-direction: row;
        justify-content: space-between;
    }

    .menu_link {
        margin-left: 30px;
        font-size: 1.25rem;
    }

    .profiles {
        display: flex;
        flex-direction: row;
    }

    .credits__img {
        height: auto;
        scale: 90%;
    }

    .role {
        font-size: small;
    }

    }

@media (min-width: 1280px) {
    .profiles {
        display: flex;
        flex-direction: row;
    }

    h2 {
        text-align: left;
        padding-left: 55px;
    }
    .credits__img {
        height: auto;
        scale: 90%;
    }
}