:root{
  --black: #151515; 
  --dark-grey: #403D39;
  --light-grey: #CCC5B9; 
  --off-white: #FFFCF2;
  --red: #aa2324;
  --yellow: #e5cb5f;
}

/*Added my utility classes so your nav and footer works*/
.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

body {
    background-color: var(--black);
    margin: 0;
    color: var(--off-white);
    font-family: "Outfit", sans-serif; /*Added fonts*/
}

header {
  background-color: var(--red);
  padding: 25px 10px;
}

.nav_container {
    align-items: center;
}

.menu_logo {
  margin: -10px;
  width: 150px;
  height: auto;
}

.menu_link, .menu_link_select {
  color: var(--off-white);
  text-decoration: none;
  margin-left: 15px;
  font-size: 1.25rem;
}

.menu_link_select {
    color: var(--yellow);
}

.menu_link:hover,
.menu_logo:hover {
  color: var(--yellow);
}

.main__heading {
    text-align: center;
    padding-top: 20px;
}

div {
    padding-bottom: 30px;
} 

section {
    padding: 20px 20px 0px 20px;
    text-align: center;
}

h2 {
    padding-bottom: 20px;
}

.credits {
    display: grid;
    grid-template-areas: 
    "m1"
    "m2"
    "m3"
    "m4"
    "m5"
    "m6"
    "m7"
    "m8";
}

.jurassic-park {
    grid-area: m1;
}

.lost-world {
    grid-area: m2;
}

.jp-three {
    grid-area: m3;
}

.jurassic-world {
    grid-area: m4;
}

.fallen-kingdom {
    grid-area: m5;
}

.big-rock {
    grid-area: m6;
}

.dominion {
    grid-area: m7;
}

.rebirth {
    grid-area: m8;
}

.credits__img {
    width: 75%;
    height: 100%;
}

.name {
    font-size: larger;
}

.role {
    font-size: small;
    font-style: italic;
}

.footer {
  margin-top: auto;
  color: var(--off-white);
  background-color: var(--red);
  text-align: center;
  text-transform: uppercase;
  padding: 24px 0;
}

@media (min-width: 768px) {
      /*For Menu*/
  header {
    flex-direction: column;
  }
  .nav_container {
    padding: 0 40px;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu_link {
    margin-left: 30px;
    font-size: 1.25rem;
  }
    .credits {
        grid-template-areas: 
            "m1 m2"
            "m3 m4"
            "m5 m6"
            "m7 m8"
    }
}

@media (min-width: 1280px) {
    .credits {
        grid-template-areas: 
            "m1 m2 m3"
            "m4 m5 m6"
            "m7 m8 ."
    }
}