:root{
  --black: #151515; 
  --dark-grey: #403D39;
  --light-grey: #CCC5B9; 
  --off-white: #FFFCF2;
  --red: #aa2324;
  --yellow: #e5cb5f;
}

.header, .footer {
    background-color: var(--red);
    color: var(--off-white);
    padding: 30px 30px 20px 30px;
    text-align: center;
    font-family: sans-serif;
}

.header__nav-link {
    padding: 20px;
    color: var(--off-white);
    text-decoration: none;
}

.header__nav-link-select {
    padding: 20px;
    font-weight: bolder;
    color: var(--yellow);
    text-decoration: none;
}

.header__nav-link:hover {
    font-weight: bolder;
}

.main__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main {
    background-color: var(--black);
    color: var(--off-white);
    font-family: sans-serif;
}

.main__heading {
    padding-left: 20px;
    text-align: center;
}

.credits__img {
    width: 100%;
    height: 100%;
}

.name {
    font-size: larger;
}

.role {
    font-size: small;
    font-style: italic;
}

section {
    padding: 20px 20px 0px 20px;
    text-align: center;
}

div {
    padding-bottom: 30px;
}

h2 {
    padding-bottom: 20px;
}