:root {
  --black: #151515;
  --dark-grey: #403d39;
  --light-grey: #ccc5b9;
  --off-white: #fffcf2;
  --red: #aa2324;
  --yellow: #e5cb5f;
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
 #btn {
     position: fixed;
     bottom: 10px;
     right: 10px;
     z-index: 99;
     font-size: 15px;
     border: none;
     outline: none;
     background-color: var(--off-white); 
     color:var(--dark-grey);
     cursor: pointer;
     padding: 15px;
     border-radius: 4px;
}
 #btn:hover {
     background-color: white;
}
/*Everything about Header*/
header {
  z-index: 1;
  top: 0;
  display: flex;
  background-color: var(--red);
  padding: 25px 10px;
}
.menu {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.banner {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400px;
  background-color: var(--red);
 /* background-image: url(assets/Jungle.jpg);
  background-size: cover;*/
  display: flex;
  flex-direction: column;
  background-position: center;
}

.banner_img{
  width: 400px;
  height: auto;
  margin: -75px;
}
/*End of Header*/

.main_container {
  display: flex;
  flex-direction: column;
}
/*Everything that involves the Movie Cards*/
.card_subheading {
  text-align: center;
}

.card_container {
  /*Overflow and white-space allows for the cards to be the only section that scrolls*/
  overflow: auto;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 50px 0;
  scrollbar-color: var(--dark-grey) var(--black);
  scrollbar-width: thin;
}
.card {
  transition: 0.3s;
  border-radius: 30px;
  background-color: var(--light-grey);
  padding-bottom: 25px;
  margin: 20px;
}
.card_poster {
  /*Object-fit: cover allows for the image to retain its aspect ratio and fills the given dimensions*/
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}
.card:hover {
  /*box-shadow: 0 0 10px 10px rgb(170, 35, 36, 0.3);*/
  transform: scale(1.05);
}
.card_link{
text-decoration: none;
color: var(--black);
}
.card_link:hover{
  color: var(--red);
}
.card_caption {
  text-align: center;
}
/*End of Movie Cards*/

/*Everything that involves Movie Container*/
.movies_container {
background-color: var(--black);
  color: var(--light-grey);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px;
}

.movies_container:nth-child(even) {
  color: var(--black);
    background-color: var(--light-grey);
}

.movies_poster {
  height: 600px;
  width: 400px;
  border-radius: 50px;
  object-fit: cover;
  padding: 25px;

}

.movies_summary {
  padding: 25px;
}

.movies_title {
  padding: 0 25px;
  text-align: center;
}
/*End of Movie Container*/

footer {
  margin-top: auto;
  background-color: var(--red);
  text-align: center;
  text-transform: uppercase;
  padding: 24px 0;
}

/*For Desktop test*/
@media (min-width: 768px) {
  .menu {
    flex-direction: row;
  }

  .movies_container:nth-child(odd) {
    flex-direction: row;
  }
  .movies_container:nth-child(even) {
    flex-direction: row-reverse;
  }
}
